/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*==================== VARIABLES CSS ====================*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Font size ==========*/
/*========== Font weight ==========*/
/*========== Responsive Margin ==========*/
/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0px solid white;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 500;
  background-color: rgb(10, 10, 10);
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
/*==================== LAYOUT ====================*/
.container {
  max-width: 100%;
  margin-left: 5.5rem;
  margin-right: 5.5rem;
}

.grid {
  display: grid;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
}

/*==================== NAV ====================*/
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav__left {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.nav__logo2 {
  color: #FFFFFF;
  font-size: 1.625rem;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.nav__link {
  color: #A29AAD;
  font-size: 1.25rem;
}

.nav__item-new {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav__new {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #BBF247;
  width: 2.75rem;
  height: 1.25rem;
  border-radius: 1.25rem;
}

.new__item {
  color: #BBF247;
  font-size: 0.75rem;
  border: none;
}

.nav__right {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.nav__login,
.marketplace__item {
  color: #A29AAD;
  font-size: 1.25rem;
}

.nav__marketplace {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 8.75rem;
  height: 2.75rem;
  border-radius: 0.5rem;
}

/*==================== DASHBOARD ====================*/
.dashboard {
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.dashboard__image1 {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
  border: none;
}

.dashboard__image2 {
  width: 660px;
  height: 757px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-10%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
  border: none;
}

.dashboard__image3 {
  position: absolute;
  right: 22%;
  top: 37%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
  border: none;
}

.dashboard__image4 {
  position: absolute;
  right: 30%;
  top: 18%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
  border: none;
}

.dashboard__left {
  margin-top: 1.75rem;
  align-items: flex-start;
  display: grid;
  gap: 3.25rem;
  max-width: 45%;
}

.left__titles {
  display: grid;
  gap: 0.5rem;
}

.left__title {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 3.375rem;
}

.left__descriptions {
  display: grid;
  gap: 0.5rem;
}

.left__description {
  color: #A29AAD;
  font-weight: 400;
  font-size: 1.25rem;
}

.left__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.75rem;
}

.button__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 274px;
  height: 78px;
  background-color: #BBF247;
  border-radius: 80px;
}

.button__titles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72%;
  height: 100%;
}

.button__title1 {
  color: #041000;
  font-weight: 700;
  font-size: 1.25rem;
}

.button__images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.button__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__title2 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.25rem;
}

.function__items {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.function__item {
  display: grid;
  gap: 0.25rem;
}

.item__title {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 2.125rem;
}

.item__description {
  color: #A29AAD;
  font-weight: 400;
  font-size: 1rem;
}

.left__image {
  margin-top: 1.25rem;
  margin-left: 3.5rem;
}

.dashboard__right {
  max-width: 55%;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  margin-left: 3.5rem;
}

.right__left {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 1.75rem;
}

.right__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images__nft {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(15.78deg, rgba(42, 48, 51, 0) -33.11%, rgba(42, 48, 51, 0.78) 45.31%, rgba(42, 48, 51, 0) 103.51%);
  width: 331px;
  height: 499px;
  border-radius: 160px 160px 0px 0px;
  padding-bottom: 1.25rem;
}

.images__background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 291px;
  height: 342px;
  background: #010101;
  border-radius: 140px 140px 0px 0px;
  margin-top: 0.75rem;
}

.background__nft {
  position: relative;
  border-radius: 140px 140px 0px 0px;
}

.images__clock {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  width: 157px;
  height: 45px;
  background: #9E8B72;
  border-radius: 40px;
  gap: 1rem;
}

.images__second {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.images__left {
  display: grid;
  gap: 0.5rem;
}

.name__left {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.375rem;
}

.name__description {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 1rem;
}

.minibackground__nft {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.images__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.name__footer {
  font-weight: 500;
  font-size: 1.125rem;
}

.name__kanan {
  display: flex;
  justify-content: flex-start;
  gap: 0.1rem;
}

.name__eth {
  width: 1rem;
}/*# sourceMappingURL=sass.css.map */